body {
    background: url("../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-body img {
    margin-bottom: 10px;
}
.form-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#text-popup{
    text-align: center !important;
    margin-left: 25% !important;
}